<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified JavaScript -->
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href={% static 'css/image-picker.css' %}>
    <meta charset="UTF-8">
    <title>Week Scheduler</title>
    <style>
        table th, table td {
            height: 30px;
            width: 200px;
        }

        table span {
            display: block;
            background-color: #09C;
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="container-fluid">

    <!-- Tabla calendario-->
    <div class="row">
        <div class="col-md-12">
            <table id="#our_table" border="1">
                <tr>
                    <th>Curso</th>
                    {% for week in weeks %}
                        <th weekId="{{ week.id }}">{{ week.number }}</th>
                    {% endfor %}
                </tr>
                {% for course in courses %}
                    <tr>
                        <td><span
                                class="event"
                                courseCode="{{ course.code }}"
                                draggable="false"
                                style="background-color: gray;">
                            {{ course.name }}
                        </span>
                        </td>
                        {% for week in weeks %}
                            <td>
                                {% for event in events %}
                                    {% if event.course == course %}
                                        {% if event.week == week %}
                                            <span
                                                    class="event"
                                                    id="{{ event.id }}"
                                                    draggable="true">
                                                {{ event.name }}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
    <!-- Formulario para agregar tarea -->
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-1" id="adddiv">
                    <button id="addbtn" type="button" class="btn btn-primary" href="#form" data-toggle="collapse">
                        Agregar
                    </button>
                </div>
                <div class="col-sm-1" id="canceldiv" hidden>
                    <button id="cancelbtn" type="button" class="btn btn-danger" href="#form" data-toggle="collapse">
                        Cancelar
                    </button>
                </div>
            </div>
            <br>
            <div class="row">
                <div id="form" class="collapse col-sm-6">
                    <div class="row">
                        <!-- Nombre -->
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">Nombre</span>
                                <input id="name" type="text" class="form-control"
                                       placeholder="Informe practica, tarea 1, etc.">
                            </div>
                        </div>
                        <!-- Tipo -->
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">Tipo</span>
                                <select id="type" class="form-control">
                                    <option value="0">Control</option>
                                    <option value="1">Tarea</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <!-- Fecha -->
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">Fecha de término</span>
                                <input id="datepicker" type="text" class="form-control"
                                       placeholder="Click y escoge una fecha">
                            </div>
                        </div>
                        <!-- Semana -->
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">Asignar a semana</span>
                                <select id="week" class="form-control">
                                    {% for week in weeks %}
                                        <option value="{{ week.id }}">{{ week.number }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <!-- Curso -->
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">Curso</span>
                                <select id="course" class="form-control">
                                    {% for course in courses %}
                                        <option value="{{ course.code }}">{{ course.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <!-- Peso -->
                        <div class="col-sm-6">
                            <div class="input-group">
                                <label>Peso</label>
                                <select id="load" class="image-picker">
                                    <option
                                            data-img-src='http://d2trtkcohkrm90.cloudfront.net/images/emoji/apple/ios-10/33/0753.png'
                                            data-img-label='Relajado'
                                            data-img-class="easy"
                                            data-img-alt="Relajado"
                                            value='1'
                                    >
                                    <option
                                            data-img-src='http://d2trtkcohkrm90.cloudfront.net/images/emoji/apple/ios-10/33/0875.png'
                                            data-img-label='Normal'
                                            data-img-class="medium"
                                            data-img-alt="Normal"
                                            value='2'
                                    >
                                    <option
                                            data-img-src='http://d2trtkcohkrm90.cloudfront.net/images/emoji/apple/ios-10/33/0775.png'
                                            data-img-label='Intenso'
                                            data-img-class="intense"
                                            data-img-alt="Intenso"
                                            value='3'
                                    >
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <!-- Guardar -->
                        <div class="col-sm-1">
                            {% csrf_token %}
                            <button id="savebtn" type="submit" class="btn btn-success">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src={% static 'js/image-picker.min.js' %}></script>
<script>
    $(document).ready(function () {
        $("#datepicker").datepicker({dateFormat: 'dd/mm/yy'});
        $("#load").imagepicker({
            show_label: true,
        });
        $("#addbtn").on('click', function () {
            $("#canceldiv").show();
            $("#adddiv").hide();
        });
        $("#cancelbtn").on('click', function () {
            $("#canceldiv").hide();
            $("#adddiv").show();
            clearForm();
        });
        $('.event').on("dragstart", function (event) {
            var dt = event.originalEvent.dataTransfer;
            dt.setData('Text', $(this).attr('id'));
        });
        $('table td').on("dragenter dragover drop", function (event) {
            event.preventDefault();
            if (event.type === 'drop') {
                var data = event.originalEvent.dataTransfer.getData('Text', $(this).attr('id'));
                de = $('#' + data).detach();
                de.appendTo($(this));
            }
            ;
        });

        function dateTextToTimeStamp(date) {
            s = date.split("/");
            d = s[0];
            m = s[1];
            y = s[2];
            //return (new Date(y, m, d)).getTime();
            return date;
        }

        function clearForm() {
            deadline = $("#datepicker").val("");
            name = $("#name").val("");
        }

        $("#savebtn").click(submitEvent);

        function submitEvent() {
            var csrfToken = $("[name=csrfmiddlewaretoken]").val();
            course = $("#course").val();
            week = $("#week").val();
            deadline = dateTextToTimeStamp($("#datepicker").val());
            name = $("#name").val();
            type = $("#type").val();
            load = $("#load").val();
            data = {
                csrfmiddlewaretoken: csrfToken,
                course: course,
                week: week,
                deadline: deadline,
                name: name,
                type: type,
                load: load,
            };
            $.ajax({
                url: "/week_scheduler/add_event/",
                data: data,
                method: "POST",
                statusCode: {
                    200: function () {
                        alert("Se agregó exitosamente!");
                        clearForm();
                        location.reload();
                    }
                }
            });
        }
    })
</script>
</body>
</html>